.container {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meilleur{
  text-decoration: solid;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  color: chocolate;
  margin-top: 0;
  padding-top: 0;
}

.title {
  color: var(--textSoft);
  font-weight: bold;
  text-transform: capitalize;
}

.logoImage{
  background: none;
  border-radius: 50px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.input {
  background-color: transparent;
  border: none;
  color: var(--text);
}
